* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue-animation{
    width: 20vw;
    height: 20vh;
    margin: 2%;
    background-color: blue;
    animation-duration: 10s;
}

@keyframes example {
    from {
        transform: rotate(0deg);
        background-color: orange;
    }
    to {
        transform: rotate(360deg);
        background-color: orangered;
    }
}

input[type="button"] {
    margin: 2%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    cursor: pointer;
}

input[type="button"]:hover {
    transition-duration: 0.5s;
    background-color: #fff;
    color: #000;
}

.toggle {
    background-color: red;
    width: 6%;
    gap: 5px;
    height: 15px;
    padding: 2px;
    margin: 2%;
    border-radius: 10%;
    display: flex;
}

.toggle >button {
    padding: 0 5px;
    width: 50%;
    /* border-radius: 100%; */
    border: none;
}
.on {
    visibility: hidden;
}

.toggle-on{
    .off{
        visibility: hidden;
    }
    .on {
        visibility: visible;
    }
    .toggle {
        background-color: green !important;
    }
}

.toggle-off {
    .on {
        visibility: hidden;
    }
    .off {
        visibility: visible;
    }
}

.parent{
    position: relative;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin: 2%;
    border: 6px solid purple;
    text-align: center;
}

.child{
    height: 30%;
    border-radius: 20px;
    color: #fff;
    width: 30%;
    position: absolute;
    background-color: purple;
}

.child1 {
    top: 100px;
    left: 50px;
}

.child2 {
    bottom: 100px;
    right: 50px;
}

.card {
    display: flex;
    margin: 2%;
    gap: 10px;
    background-color: purple;
    align-items: center;
    padding: 10px;
    max-width: 400px;
    justify-content: space-around;
    /* border-radius: 20px; */
    color: #fff;
    position: relative;
}

.card-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.badge{
    background-color: green;
    padding: 2px;
    width: max-content;
    height: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.call-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: green;
    padding: 2px;
}

.offline {
    background-color: red;
}

.user-table {
    background-color: purple;
    border-radius: 10px;
    width: 80vw;
    margin: 5%;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 5px;
    font-weight: bold;
    font-size: 20px;
}

td {
    box-shadow: 0 5px 10px 0 #ffffff75;
    background-color: #ffffff75;
    backdrop-filter: blur(20px);
    padding: 10px;
    width: inherit;
}