@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--background--color);
    color: var(--secondary--color);
    transition-duration: 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background--color: #ffffff;
    --primary--color: #F50057;
    --secondary--color: #000;
}

/* :root {
    --background--color: #000;
    --primary--color: #F50057;
    --secondary--color: #ffffff;
} */

.darktheme {
    --background--color: #000;
    --primary--color: #F50057;
    --secondary--color: #ffffff;
}

#logo {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
}

nav ul li {
    cursor: pointer;
    /* transition-duration: 0.5s; */
    font-weight: bold;
}

nav ul li:hover {
    color: var(--primary--color);
}

#icon {
    width: 30px;
    cursor: pointer;
}

.content {
    display: flex;
}

.about-me {
    flex: 1;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me p {
    font-size: 25px;
}
.about-me h1 {
    font-size: 50px;
}
.illustrations {
    flex: 1;
    display: flex;
    justify-content: center;
}

.download-btn {
    background-color: var(--primary--color);
    color: var(--background--color);
    margin: 2%;
    padding: 10px;
    cursor: pointer;
    width: 20%;
    border: none;
    font-weight: bold;
    /* transition-duration: 0.5s; */
}

.parent-div {
    position: absolute;
    top: 30%;
    background-color: var(--primary--color);
    width: 300px;
    height: 300px;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
}

.child-div {
    position: relative;
    top: 30%;
}

.child-div img {
    width: 300px;
}