@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url('./clock.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

h1 {
    color: #ffffff;
    font-size: 200px;
}
